* {
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 70px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 720x;
    max-width:720px;
    min-width: 720px;
    max-height: 720px;
    padding: 0;
}
.case {
    border: 1px solid green;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
}
